<div class="flex" id="search-analytics">
  <div class="shadow p-6">
    <h3 class="text-green-600 text-md font-extrabold">
      <i class="fas fa-newspaper text-[30px] mr-3"></i>
      Total <%= pluralize(my_queries.count, 'Query') %> used
    </h3>
  </div>
  <div class="shadow p-6">
    <h3 class="text-md font-extrabold text-yellow-600">
      <i class="fas fa-search text-[30px] mr-3"></i>
      <%= pluralize(total_no_of_queries, 'Query') %>
    </h3>
  </div>
  <div class="shadow p-6">
    <h2 class="text-xl font-extrabold">Trending Query(Most Used)</h2>
    <h3 class="text-red-600 text-md font-semibold truncate">
      <%= trending_queries.first[0] %>
    </h3>
  </div>

</div>

<%= render 'search_queries/trending_queries', trending_queries: trending_queries %>

<div>
  <h1 class="text-xl font-extrabold my-4">
    History
  </h1>
  <%= render partial: 'search_queries/query', collection: most_recent_queries, as: :query %>



</div>
